/* COLOR PALETTE */

/* https://coolors.co/6a07c5-61039b-010002-000000-3b015d-2c0046-8a00b8-000000-6807c5-06000a */

/* --french-violet: hsla(271, 93%, 40%, 1);
--indigo: hsla(277, 96%, 31%, 1);
--black: hsla(270, 100%, 0%, 1);
--black-2: hsla(0, 0%, 0%, 1);
--russian-violet: hsla(278, 98%, 18%, 1);
--russian-violet-2: hsla(278, 100%, 14%, 1);
--french-violet-2: hsla(285, 100%, 36%, 1);
--black-3: hsla(0, 0%, 0%, 1);
--french-violet-3: hsla(271, 93%, 40%, 1);
--black-4: hsla(276, 100%, 2%, 1); */

/*-----------------------------------------
GLOBAL ATTRIBUTES
------------------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sarabun' , sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.purple-text {
    color: blueviolet;
}

/*-----------------------------------------
NAVIGATION BAR
------------------------------------------*/

.navigation {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: hsla(278, 98%, 18%, 1); /*Russian Violet*/
    box-shadow: 5px 0px 5px 3px black;
}

.mobile-menu-toggle, .logo-a {
    height: 40px;
    margin: 10px 20px;
    z-index: 9999;
    cursor: pointer;
}

.mobile-menu-toggle:hover, .logo-a:hover {
    opacity: 0.7;
}

.mobile-menu-toggle:active, .logo-a:active {
    opacity: 0.3;
}

.logo {
    height: 40px;
}

.nav-list-ul {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 60px;
    right: 0;
    height: 30vh;
    width: 100%;
    z-index: 999;
    background-color: hsla(278, 98%, 18%, 0.7);
    backdrop-filter: blur(1em);
    box-shadow: 5px 0px 5px 3px hsla(0, 0%, 0%, 0.7);
    transform: translateY(-140%);
    transition: transform 450ms ease-out;
}

.nav-list-ul[data-visible="true"] {
    transform: translateX(0%);
}

.nav-list-a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Sarabun' , sans-serif;
    font-weight: 900;
}

.nav-list-a:hover, .nav-list-a:active {
    background-color: hsla(277, 96%, 31%, 1);
    color: rgb(255, 255, 255);
}



@media (min-width: 800px) {
    .desktop-hero {
        display: block;
    }

    .mobile-hero {
        display: none;
    }

    .mobile-menu-toggle {
        display: none;
    }

    .nav-list-ul {
        list-style-type: none;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        top: 0px;
        left: 70.4px;
        z-index: 9999;
        height: 60px;
        width: 96%;
        background-color: none;
        backdrop-filter: none;
        box-shadow: none;
        transform: translateY(0%);
        transition: none;
    }

    .nav-list-a {
        font-size: 15px;
    }

    .nav-list-a:active {
        background-color: rgb(0, 0, 0);
    }

    .mobile-menu-toggle, .logo-a {
        height: 40px;
    }

    .logo {
        height: 40px;
    }
}


@media (min-width: 1750px) {
    
    .nav-list-ul {
        height: 70px;
        left: 78.2px;
    }

    .nav-list-a {
        font-size: 1.3em;
    }

    .mobile-menu-toggle, .logo-a {
        height: 50px;
    }

    .logo {
        height: 50px;
    }

}

/*-----------------------------------------
HEADER SECTION
------------------------------------------*/

.header {
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.bot-doc-title {
    /* background-color: red; */
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    text-align: center;
    color: blueviolet;
    font-size: 5em;
    -webkit-text-stroke: 2px black;
    line-height: 1;
}

.bot-doc-hero {
    grid-column: 1/2;
    grid-row: 1/4;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

@media (min-width: 50em) {
    .header {
        height: 50vh;
    }

    .bot-doc-title {
        font-size: 6em;
    }

}

@media (min-width: 1750px) {
    
    .bot-doc-title {
        font-size: 7em;
    }
}


/*-----------------------------------------
DESCRIPTION SECTION
------------------------------------------*/

.description-section {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 50px 1fr 20px;
}

.bot-doc-description {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    text-align: center;
    margin: 20px;
    color: beige;
    font-weight: lighter;
    letter-spacing: 0.05em;
    font-size: 1em;
}

@media (min-width: 50em) {
    .bot-doc-description {
        font-size: 1.3em;
    }
}

@media (min-width: 1750px) {
    .bot-doc-description {
        font-size: 1.5em;
    }
}


/*-----------------------------------------
MAIN CONTENT SECTION
------------------------------------------*/
.main-content-area {
    display: grid;
    grid-template-columns: 1fr 180px 180px 1fr;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.rank-img {
    max-height: 150px;
}

.rank-img:hover {
    opacity: 0.8;
}

.topaz {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 50px;
}

.sapphire {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-bottom: 50px;
}

.emerald {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 50px;
}

.ruby {
    grid-column: 3/4;
    grid-row: 2/3;
    margin-bottom: 50px;
}

.diamond {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-bottom: 50px;
}

.dragonstone {
    grid-column: 3/4;
    grid-row: 3/4;
    margin-bottom: 50px;
}

.onyx {
    grid-column: 2/3;
    grid-row: 4/5;
    margin-bottom: 50px;
}

.zenyte {
    grid-column: 3/4;
    grid-row: 4/5;
    margin-bottom: 50px;
}

.gamer {
    grid-column: 2/3;
    grid-row: 5/6;
    margin-bottom: 50px;
}

.infernal {
    grid-column: 3/4;
    grid-row: 5/6;
    margin-bottom: 50px;
}

@media (min-width: 360px) {

}

@media (min-width: 800px) {
    .main-content-area {
        display: grid;
        grid-template-columns: 1fr 150px 150px 150px 150px 150px 1fr;
    }

    .topaz {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .sapphire {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
    .emerald {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    
    .ruby {
        grid-column: 5/6;
        grid-row: 1/2;
    }
    
    .diamond {
        grid-column: 6/7;
        grid-row: 1/2;
    }
    
    .dragonstone {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .onyx {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    
    .zenyte {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    
    .gamer {
        grid-column: 5/6;
        grid-row: 2/3;
    }
    
    .infernal {
        grid-column: 6/7;
        grid-row: 2/3;
    }
}

@media (min-width: 1000px) {

}

@media (min-width: 1750px) {

}

/*-----------------------------------------
RANK SPECIFIC REWARDS SECTION
------------------------------------------*/

.rank-specific-rewards {
    display: grid;
    grid-template-columns: 1fr 360px 1fr;
    grid-template-rows: 50px 100px 100px 100px;
    gap: 30px;
    padding-bottom: 30px;
}

.rank-specific-rewards-title {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 2em;
    margin: 25px auto;
}

/*Ruby Nested Grid*/

.ruby-rewards {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 80px 280px;
    grid-template-rows: 50px 50px;
}

.ruby-rank-img {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100px;
    margin: auto;
}

.ruby-rank-title {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: auto;
    margin-bottom: 0;
    color: rgb(255, 69, 69);
}

.ruby-rank-description {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 0;
    margin-bottom: auto;
    color: rgb(255, 69, 69);
}

/*Diamond Nested Grid*/

.diamond-rewards {
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 80px 280px;
    grid-template-rows: 50px 50px;
}

.diamond-rank-img {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100px;
    margin: auto;
}

.diamond-rank-title {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: auto;
    margin-bottom: 0;
}

.diamond-rank-description {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 0;
    margin-bottom: auto;
}

/*Dragonstone Nested Grid*/

.dragonstone-rewards {
    grid-column: 2/3;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 80px 280px;
    grid-template-rows: 50px 50px;
}

.dragonstone-rank-img {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100px;
    margin: auto;
}

.dragonstone-rank-title {
    grid-column: 2/3;
    grid-row: 1/2;
    color: blueviolet;
    margin-top: auto;
    margin-bottom: 0;
}

.dragonstone-rank-description {
    grid-column: 2/3;
    grid-row: 2/3;
    color: blueviolet;
    margin-top: 0;
    margin-bottom: auto;
}

/*-----------------------------------------
HOW TO GAIN POINTS SECTION
------------------------------------------*/

.transition {
    background: linear-gradient(black, blueviolet);
    height: 100px;
}

.how-to-get-points-section {
    background-color: blueviolet;
    color: black;
}

.gaining-points-title {
    font-size: 3.3em;
    padding: 30px;
    text-align: center;
}

.ways-to-gain-points-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 360px 1fr;
    grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px;
    gap: 30px;
    padding-bottom: 100px;
}

/*Every 30 days Nested Grid*/

.every-30-days {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: black;
    box-shadow: 8px 8px 15px black;
    color: white;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 35px 80px 35px;
}

.every-30-days-title {
    margin: auto;
    font-size: 1.5em;
}

.every-30-days-description {
    margin: auto;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.every-30-days-points {
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(46, 10, 80);
    border-radius: 0px 0px 20px 20px ;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

/*Attending Nested Grid*/

.attending-events {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: black;
    box-shadow: 8px 8px 15px black;
    color: white;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 35px 80px 35px;
}

.attending-events-title {
    margin: auto;
    font-size: 1.5em;
}

.attending-events-description {
    margin: auto;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.attending-events-points {
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(46, 10, 80);
    border-radius: 0px 0px 20px 20px ;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

/*Recognizing Nested Grid*/

.recognizing {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: black;
    box-shadow: 8px 8px 15px black;
    color: white;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 35px 80px 35px;
}

.recognizing-title {
    margin: auto;
    font-size: 1.5em;
}

.recognizing-description {
    margin: auto;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.recognizing-points {
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(46, 10, 80);
    border-radius: 0px 0px 20px 20px ;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

/*Recognition Nested Grid*/

.recognition {
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: black;
    box-shadow: 8px 8px 15px black;
    color: white;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 35px 80px 35px;
}

.recognition-title {
    margin: auto;
    font-size: 1.5em;
}

.recognition-description {
    margin: auto;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.recognition-points {
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(46, 10, 80);
    border-radius: 0px 0px 20px 20px ;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

/*Referring Nested Grid*/

.referring {
    grid-column: 2/3;
    grid-row: 5/6;
    background-color: black;
    box-shadow: 8px 8px 15px black;
    color: white;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 35px 80px 35px;
}

.referring-title {
    margin: auto;
    font-size: 1.5em;
}

.referring-description {
    margin: auto;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.referring-points {
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(46, 10, 80);
    border-radius: 0px 0px 20px 20px ;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

/*Staff Recognition Nested Grid*/

.staff-recognition {
    grid-column: 2/3;
    grid-row: 6/7;
    background-color: black;
    box-shadow: 8px 8px 15px black;
    color: white;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 35px 80px 35px;
}

.staff-recognition-title {
    margin: auto;
    font-size: 1.5em;
}

.staff-recognition-description {
    margin: auto;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.staff-recognition-points {
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(46, 10, 80);
    border-radius: 0px 0px 20px 20px ;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

/*Donating Nested Grid*/

.donating {
    grid-column: 2/3;
    grid-row: 7/8;
    background-color: black;
    box-shadow: 8px 8px 15px black;
    color: white;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 35px 80px 35px;
}

.donating-title {
    margin: auto;
    font-size: 1.5em;
}

.donating-description {
    margin: auto;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.donating-points {
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(46, 10, 80);
    border-radius: 0px 0px 20px 20px ;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

/*Hosting Events Nested Grid*/

.hosting-events {
    grid-column: 2/3;
    grid-row: 8/9;
    background-color: black;
    box-shadow: 8px 8px 15px black;
    color: white;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 35px 80px 35px;
}

.hosting-events-title {
    margin: auto;
    font-size: 1.5em;
}

.hosting-events-description {
    margin: auto;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.hosting-events-points {
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(46, 10, 80);
    border-radius: 0px 0px 20px 20px ;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

@media (min-width: 360px) {

}

@media (min-width: 800px) {
    .ways-to-gain-points-list {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 400px 400px 1fr;
        grid-template-rows: 150px 150px 150px 150px;
    }

    .every-30-days {
        grid-column: 2/3;
        grid-row: 1/2;  
    }

    .attending-events {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .recognizing {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .recognition {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .referring {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .staff-recognition {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .donating {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .hosting-events {
        grid-column: 3/4;
        grid-row: 4/5;
    }
}

@media (min-width: 1000px) {

}

@media (min-width: 1750px) {

}


/*-----------------------------------------
FOOTER SECTION
------------------------------------------*/

.footer {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    background-color: hsla(278, 98%, 18%, 1);
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    box-shadow: 0 -1px 15px rgb(54, 54, 54);
}

.discord-link img, .twitter-link img, .runewatch-link img {
    height: 40px;
    margin-left: 5px;
}

.footer-credits {
    font-family: 'Sarabun' , sans-serif;
    font-size: 0.9em;
    padding: 10px;
    color: rgb(221, 221, 221);
    text-align: right;
    width: auto;
}




/*-----------------------------------------
SCROLL ANIMATION FLY INS
------------------------------------------*/

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.requirements-1 {
    transition-delay: 200ms;
}

.requirements-2 {
    transition-delay: 400ms;
}

.requirements-3 {
    transition-delay: 100ms;
}

.requirements-4 {
    transition-delay: 600ms;
}
