/* COLOR PALETTE */

/* https://coolors.co/6a07c5-61039b-010002-000000-3b015d-2c0046-8a00b8-000000-6807c5-06000a */

/* --french-violet: hsla(271, 93%, 40%, 1);
--indigo: hsla(277, 96%, 31%, 1);
--black: hsla(270, 100%, 0%, 1);
--black-2: hsla(0, 0%, 0%, 1);
--russian-violet: hsla(278, 98%, 18%, 1);
--russian-violet-2: hsla(278, 100%, 14%, 1);
--french-violet-2: hsla(285, 100%, 36%, 1);
--black-3: hsla(0, 0%, 0%, 1);
--french-violet-3: hsla(271, 93%, 40%, 1);
--black-4: hsla(276, 100%, 2%, 1); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/*-----------------------------------------
NAVIGATION BAR
------------------------------------------*/
.navigation {
    display: grid;
    grid-template-columns: 10% 1fr 13%;
    grid-template-rows: 50px;
    background-color: #3a015b;
    position: sticky;
    top: 0;
    z-index: 11;
    box-shadow: 5px 0px 5px 3px hsla(0, 0%, 0%, 0.7);
}

.mobile-menu-toggle {
    height: 40px;
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url(Assets/HamburgerIcon.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 200ms ease-out;
}

.mobile-menu-toggle[data-visible="true"]{
    background-image: url(Assets/HamburgerIconClosed.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-a {
    height: 40px;
    margin: auto;
}

.logo-a:hover {
    height: 45px;
}

.mobile-menu-toggle:hover, .logo-a:hover {
    opacity: 0.7;
}

.mobile-menu-toggle:active, .logo-a:active {
    opacity: 0.3;
}

.logo {
    height: 40px;
    margin: auto;
    transition: all 150ms ease-out;
}

.logo:hover {
    height: 45px;
}

.mobile-nav-list-ul {
    list-style-type: none;
    background-color: hsla(278, 98%, 18%, 1);
    height: 95vh;
    width: 75vw;
    position: fixed;
    right: -80vw;
    z-index: 10;
    border: 2px solid black;
    transition: right 450ms ease-out;
    display: grid;
    grid-template-columns: 10px 1fr 1fr 1fr 1fr 10px;
    grid-template-rows: 10% 10% 10% 10% 1fr 10% 1fr;
}

.mobile-menu-img {
    height: 50px;
    transition: all 200ms ease-out;
}

.mobile-menu-img:hover, .mobile-menu-img:active {
    height: 70px;
}

.mobile-menu-discord-link {
    grid-column: 2/3;
    grid-row: 6/7;
    margin: auto;
}
.mobile-menu-twitter-link {
    grid-column: 3/4;
    grid-row: 6/7;
    margin: auto;
}
.mobile-menu-wom-link {
    grid-column: 4/5;
    grid-row: 6/7;
    margin: auto;
}
.mobile-menu-runewatch-link {
    grid-column: 5/6;
    grid-row: 6/7;
    margin: auto;
}

.see-through-nav-section {
    background-color: hsla(0, 0%, 0%, 0.3);
    height: 95vh;
    width: 25vw;
    position: fixed;
    left: -25vw;
    z-index: 9;
    transition: left 450ms ease-out;
}

.desktop-nav-list-ul {
    display: none;
}

.mobile-nav-list-ul[data-visible="true"] {
    position: fixed;
    right: 0;
}

.see-through-nav-section[data-visible="true"] {
    position: fixed;
    left: 0vw;
}

.nav-list-a {
    grid-column: 1/7;
    text-decoration: none;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.nav-list-li {
    margin: auto;
    font-family: 'Sarabun' , sans-serif;
    font-size: 1.3em;
    transition: all 200ms ease-out;
}

.nav-list-a:hover, .nav-list-a:active {
    background-color: hsla(277, 96%, 31%, 1);
    font-size: larger;
}




@media (min-width: 800px) {
    .mobile-nav-list-ul {
        display: none;
    }
    .see-through-nav-section {
        display: none;
    }
    .mobile-menu-toggle {
        display: none;
    }

    .navigation {
        display: grid;
        grid-template-columns: 10% 1fr;
        grid-template-rows: 50px;
        background-color: hsla(278, 98%, 18%, 1);
        position: static;
        box-shadow: 5px 0px 5px 3px hsla(0, 0%, 0%, 0.7);
    }

    .desktop-nav-list-ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .nav-list-li {
        font-size: 1em;
    }

    .nav-list-li-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .nav-list-li-2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .nav-list-li-3 {
        grid-row: 1/2;
        grid-column: 3/4;
    }
    .nav-list-li-4 {
        grid-row: 1/2;
        grid-column: 4/5;
    }
}


@media (min-width: 1750px) {
    
    .nav-list-ul {
        height: 70px;
        left: 78.2px;
    }

    .nav-list-a {
        font-size: 1.3em;
    }

    .mobile-menu-toggle, .logo-a {
        height: 50px;
    }

    .logo {
        height: 50px;
    }

    .navigation {
        grid-template-rows: 60px;
    }

}

/*-----------------------------------------
HERO SECTION
------------------------------------------*/

/* .desktop-hero {
    display: none;
} */

#header {
    display: grid;
    gap: 10px;
    height: 90vh;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 1fr auto auto auto 1fr 10% 1fr;
}

.desktop-hero {
    display: none;
}

.mobile-hero {
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-row: 1 / 8;
    grid-column: 1 / 4;
    opacity: 0.8;
    z-index: -1;
}

.site-title {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: auto;
    text-align: center;
    color: blueviolet;
    font-size: 3.5em;
    -webkit-text-stroke: 2px black;
    font-family: 'Sarabun' , sans-serif;
    line-height: 1;
}

.site-sub-title {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    margin: auto;
    text-align: center;
    color: beige;
    font-weight: lighter;
    font-family: 'Sarabun' , sans-serif;
    letter-spacing: 0.05em;
    font-size: 1em;
}

.header-icons {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 33px;
    margin: auto;
    gap: 10px;
}

.header-social-icon {
    height: 30px;
    transition: height 0.2s;
}

.header-social-icon-a {
    margin: auto;
}

.header-social-icon:hover {
    height:35px;
}

.header-social-icon:active {
    opacity: 0.3;
}

.gradient-fill {
    grid-row: 6 / 8;
    grid-column: 1 / 4;
    background-image: linear-gradient(hsla(0, 100%, 0%, 0), hsla(0, 100%, 0%, 1));
}

@media (min-width: 1000px) {
    .desktop-hero {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        grid-row: 1 / 8;
        grid-column: 1 / 4;
        opacity: 0.8;
        z-index: -1;
    }

    .mobile-hero {
        display: none;
    }

    .site-title {
        font-size: 5em;
    }

    .site-sub-title {
        font-size: 1.5em;
    }

    .header-icons {
        grid-template-columns: 55px 55px 55px;
        grid-template-rows: 50px;
    }

    .header-social-icon {
        height: 40px;
    }

    .header-social-icon:hover {
        height:50px;
    }

}

@media (min-width: 1750px) {
    .site-title {
        font-size: 6.5em;
    }

    .site-sub-title {
        font-size: 2em;
    }

    .header-icons {
        grid-template-columns: 75px 75px 75px;
        grid-template-rows: 70px;
    }

    .header-social-icon {
        height: 60px;
    }

    .header-social-icon:hover {
        height: 70px;
    }

}



/*-----------------------------------------
CONTENT SECTION
------------------------------------------*/

.main-content-area {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: auto 200px auto 75px auto 200px auto;
}

.about-us {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 0.2fr 200px 75px 75px 75px;
    font-family: 'Sarabun' , sans-serif;
    overflow-x: hidden;
}

.about-us-1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: auto;
    text-align: center;
    font-weight: 900;
}

.about-us-2 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    margin: auto;
    text-align: center;
}

.about-us-3 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    margin: auto;
    text-align: center;
}

.about-us-4 {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    margin: auto;
    text-align: center;
}

@media (min-width: 1750px) {
    .about-us-1, .about-us-2, .about-us-3, .about-us-4 {
        font-size: 1.4em;
    }
}

.aboutUs-requirements-gradient {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    background-image: linear-gradient(hsla(0, 100%, 0%, 1), hsla(277, 96%, 31%, 1));
}

.requirements {
    grid-row: 5 / 6;
    grid-column: 1 / 4;
    background-color: hsla(277, 96%, 31%, 1);
    display: grid;
    gap: 10px;
    text-align: center;
    grid-template-columns: minmax(10px, 1fr) minmax(0px, 150px) minmax(0px, 150px) 150px minmax(0px, 150px) minmax(0px, 150px) minmax(10px, 1fr);
    grid-template-rows: auto auto 150px 150px 150px 150px 50px;
    font-family: 'Sarabun' , sans-serif;
    overflow-x: hidden;
}

.requirements-scroll-img {
    height: 200px;
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    margin: 20px auto auto auto;
}

.requirements-text {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    margin: auto;
    font-size: 1.5em;
}

.req-text {
    font-size: minmax(5px, 10px);
}

.requirements-1 {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    display: grid;
    grid-template-columns: 130px;
    grid-template-rows: 1fr 1fr;
    background-color: hsla(278, 98%, 18%, 1);
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    transition-delay: 600ms;
}

.requirements-icon-1 {
    height: 100px;
    margin: auto;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.requirements-1 p {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.requirements-2 {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    display: grid;
    grid-template-columns: 130px;
    grid-template-rows: 1fr 1fr;
    background-color: hsla(278, 98%, 18%, 1);
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
}

.requirements-icon-2 {
    height: 100px;
    margin: auto;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.requirements-2 p {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 0%, 0%, 10px, 10px;
    border-radius: 10px;
    padding: 10px;
}

.requirements-3 {
    grid-row: 5 / 6;
    grid-column: 4 / 5;
    display: grid;
    grid-template-columns: 130px;
    grid-template-rows: 1fr 1fr;
    background-color: hsla(278, 98%, 18%, 1);
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
}

.requirements-icon-3 {
    height: 100px;
    margin: auto;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.requirements-3 p {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 0%, 0%, 10px, 10px;
    border-radius: 10px;
    padding: 10px;
}

.requirements-4 {
    grid-row: 6 / 7;
    grid-column: 4 / 5;
    display: grid;
    grid-template-columns: 130px;
    grid-template-rows: 1fr 1fr;
    background-color: hsla(278, 98%, 18%, 1);
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
}

.requirements-icon-4 {
    height: 100px;
    margin: auto;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.requirements-4 p {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 0%, 0%, 10px, 10px;
    border-radius: 10px;
    padding: 10px;
}

/*Requirements Responsive*/
@media (min-width: 360px) {
    .requirements {
        grid-template-columns: minmax(10px, 1fr) minmax(0px, 150px) 150px 150px minmax(0px, 150px) minmax(10px, 1fr);
        grid-template-rows: auto auto 1fr 1fr 50px;
    }


    .requirements-1 {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
        transition-delay: 200ms;
    }

    .requirements-2 {
        grid-row: 3 / 4;
        grid-column: 4 / 5;
        transition-delay: 400ms;
    }

    .requirements-3 {
        grid-row: 4 / 5;
        grid-column: 3 / 4;
        transition-delay: 100ms;
    }

    .requirements-4 {
        grid-row: 4 / 5;
        grid-column: 4 / 5;
        transition-delay: 600ms;
    }

    .requirements-text {
        grid-row: 2 / 3;
        grid-column: 3 / 5;
    }
    
    .requirements-scroll-img {
        height: 250px;
        grid-row: 1 / 2;
        grid-column: 3 / 5;
    }
}

/*Requirements Responsive*/
@media (min-width: 675px) {
    .requirements {
        grid-template-columns: minmax(10px, 1fr) minmax(0px, 150px) 150px 150px minmax(0px, 150px) minmax(10px, 1fr);
        grid-template-rows: auto auto 1fr 50px;
    }

    .requirements-1 {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
    }

    .requirements-2 {
        grid-row: 3 / 4;
        grid-column: 4 / 5;
    }

    .requirements-4 {
        grid-row: 3 / 4;
        grid-column: 5 / 6;
    }

    .requirements-3 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .requirements-text {
        grid-row: 2 / 3;
        grid-column: 2 / 6;
        font-size: 2em;
    }
    
    .requirements-scroll-img {
        height: 250px;
        grid-row: 1 / 2;
        grid-column: 3 / 5;
    }
}

@media (min-width: 1750px) {
    .requirements {
        gap: 60px;
    }

    .requirements-scroll-img {
        height: 300px;
    }

}

/*-----------------------------------------
CLAN STAFF SECTION
------------------------------------------*/
.requirements-staff-transition {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    background-color: hsla(277, 96%, 31%, 1);
}




@media (min-width: 360px) {

}

/*Requirements Responsive*/
@media (min-width: 675px) {

}

@media (min-width: 1750px) {

}

.requirements-feeds-transition {
    grid-row: 6 / 7;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.gradient-fill-reqfeeds {
    background-image: linear-gradient(hsla(277, 96%, 31%, 1), hsla(0, 100%, 0%, 1));
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.whats-new-div {
    background-color: black;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    border-radius: 100px 100px 0 0;
    font-family: 'Sarabun' , sans-serif;
    font-size: 2em;
    padding-top: 30px;
}

.feeds-container {
    grid-row: 7 / 8;
    grid-column: 1 / 4;
    display: grid;
    gap: 10px;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 500px 500px auto 20px;
}

.twitter-feed {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    overflow-y: scroll;
}

.discord-feed {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding-bottom: 20px;
}

.game-feed {
    height: 500px;
    display: none;
    overflow: scroll;
}

.twitter-feed::-webkit-scrollbar, .game-feed::-webkit-scrollbar {
    display: none;
}

.twitter-disclaimer {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    font-family: 'Sarabun' , sans-serif;
    font-size: 0.7em;
    text-align: center;
}
.twitter-disclaimer a {
    text-decoration: none;
    color: blue;
}

/*TABLET MAIN CONTENT AREA*/
@media (min-width: 675px) {
    body {
        background-color: rgb(0, 0, 0);
    }

    .about-us {
        font-size: 1.3em;
    }

    .feeds-container {
        grid-template-columns: 50px 1fr 1fr 50px;
        grid-template-rows: 500px 500px auto 20px;
    }
    
    .twitter-feed {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    
    .discord-feed {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        padding-bottom: 20px;
    }
    
    .game-feed {
        display: block;
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }

    .twitter-disclaimer {
        grid-row: 3 / 4;
        grid-column: 2 / 4;
    }
}

/*DESKTOP MAIN CONTENT AREA*/
@media (min-width: 800px) {
    body {
        background-color: rgb(0, 0, 0);
    }

    .about-us {
        font-size: 1.5em;
    }

    .feeds-container {
        grid-template-columns: 80px 1fr 1fr 80px;
        grid-template-rows: 500px 500px auto 20px;
        gap: 30px;
    }
    
    .twitter-feed {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    
    .discord-feed {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        padding-bottom: 20px;
        width: 50vw;
        margin: 0 auto;
    }
    
    .game-feed {
        display: block;
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }

    .twitter-disclaimer {
        grid-row: 3 / 4;
        grid-column: 2 / 4;
    }
}

@media (min-width: 1750px) {
    .feeds-container {
        grid-template-columns: 1fr 700px 700px 1fr;
        gap: 60px;
    }

    .discord-feed {
        width: 700px;
    }

}


.footer {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    background-color: hsla(278, 98%, 18%, 1);
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    box-shadow: 0 -1px 15px rgb(54, 54, 54);
}

.discord-link img, .twitter-link img, .runewatch-link img, .wom-link img {
    height: 40px;
    margin-left: 5px;
}

.discord-link img:hover, .twitter-link img:hover, .runewatch-link img:hover, .wom-link img:hover {
    opacity: 0.7;
}

.footer-credits {
    font-family: 'Sarabun' , sans-serif;
    font-size: 0.9em;
    padding: 10px;
    color: rgb(221, 221, 221);
    text-align: right;
    width: auto;
}




/*-----------------------------------------
SCROLL ANIMATION FLY INS
------------------------------------------*/

.hidden-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show-left {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.show-right {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

